body {
    font-family: Montserrat;
}
img {
    border-radius: 0.5rem;
}
.row {
    display: flex;
}
.pad {
    padding: 0% 20% 0% 20%;
    min-width: 40rem;
}
.description {
    margin: 2% 1% 5% 1%;
}
h1 {
    font-size: 50px;
}
app-root {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
}