<div class="row pad">
    <img src="assets/portrait.jpg" alt="portrait">
    <div class="description">
        <h1>Antoine Schmidt</h1>
        <h2>Software&nbsp;Developer and Data&nbsp;Scientist</h2>
        <h3>Professional experience with:</h3>
        <ul>
            <li>SSIS, SSAS, SSRS, TSQL, MSSQL, DAX, PowerBI</li>
            <li>Angular, Spring Boot, C#, Java, Python, Fast API, Mongo DB</li>
            <li>Docker, Git, GitLab</li>
        </ul>
        <span>and more ..</span>
    </div>
<div>