<div class="row pad">
    <img class="portrait" src="assets/portrait.jpg" alt="portrait">
    <div class="description">
        <h1>Antoine Schmidt</h1>
        <h2>Software&nbsp;Developer and Data&nbsp;Scientist</h2>
        <h3>Professional experience with:</h3>
        <ul>
            <li>SSIS, SSAS, SSRS, TSQL, MSSQL, DAX, PowerBI</li>
            <li>Angular, Spring Boot, C#, Java, Python, Fast API, Mongo DB</li>
            <li>Docker, Git, GitLab <span> and more ..</span></li>
        </ul>
        <a href="https://api.eu.badgr.io/public/assertions/Qn37Ck-JSN6EsHVcCzc-bg?identity__email=antoine.schmidt@web.de" target="_blank">
            <img class="badge" src="assets/badge-dax.svg" alt="dax badge">
        </a>
    </div>
<div>