.row {
  background-color: whitesmoke;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  height: 20rem;
}
.portrait {
  height: 100%;
  width: auto;
}
.badge {
  height: 40%;
}
h1 {
    font-size: xxx-large;
}
h3 {
  margin: 0;
}
ul {
    list-style-type: '>';
    padding-left: 15px;
    margin-top: 0;
}
li {
    padding-left: 2px;
}
span {
    color: gray;
}
.description {
  margin: 2% 1% 5% 1%;
}